@import url("https://fonts.googleapis.com/css2?family=Inter:wght@450&display=swap");

#root.root {
	--sidebar-hover-width: 52px;
  --sidebar-visible-width: 320px;
  --ntb-border-radius: 0px;
  --notification-border-radius: 5px;
  --tabs-margin: 5px;
  --toolbar-bg: rgb(21, 21, 21);
  --history-item-margin: 10px;
  --bookmarks-inner-gap: 10px;
  --bookmarks-bookmark-height: 30px;
  --bookmarks-margin: 10px;
  --bookmarks-border-radius: 8px;
  --bookmarks-folder-font: 0.9rem inter;
  --bookmarks-bookmark-font: 0.8rem inter;
  --tabs-inner-gap: 2px;
  --history-item-border-radius: 8px;
  --active-el-shadow: 0 1px 20px -1px rgba(0, 0, 0, 0.882);
  --search-shadow: 0 1px 20px -1px rgba(0, 0, 0, 0.882);
  --ctx-menu-shadow: 0 1px 20px -1px rgba(0, 0, 0, 0.882);
  --popup-shadow: 0 1px 20px -1px rgba(0, 0, 0, 0.882);
  --tabs-activated-shadow: 0px 4px 15px 5px #00000050;
  --frame-el-bg: rgb(21, 21, 21);
  --nav-btn-active-shadow: 0 1px 20px -1px rgba(0, 0, 0, 0);
  --frame-el-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.133);
  --tabs-normal-bg: rgb(21,21, 21);
  --tabs-height: 35px;
  --tabs-count-font: 0.5625rem inter;
  --tabs-border-radius: 8px;
  --tabs-audio-btn-width: 25px;
  --tabs-progress-bg: rgba(255, 255, 255, 1);
  --tabs-activated-bg: rgb(153, 153, 153);
  --tabs-activated-fg: rgb(0, 0, 0);
  --tabs-font: 0.9rem inter;
  --ntb-border-radius: 8px;
  --ntb-btn-height: 30px;
  --ntb-bg: rgb(21, 21, 21);
  --ntb-padding: 5px;
}

.new-tab-btn {
  margin: 2px;
}

.group>.SubListTitle {
  height: 30px;
  border-radius: 8px;
  padding: 3px 1px 3px 3px;
  margin: 0px 0px 15px 0px;
}

.group>.SubListTitle>.body {
  height: 30px;
  box-shadow: 0 1px 20px -1px rgba(0, 0, 0, 0.882);
  border-radius: 8px;
  margin: 0px 0px 15px 0px;
}

.group>.SubListTitle>.body::before {
  height: 30px;
  border-radius: 8px;
  margin: 0px 0px 15px 0px;
}

#TabsToolbar, #sidebar-header {
  display: none !important;
}

#sidebar-box {
  position: relative !important;
  overflow:hidden;
  max-width: var(--sidebar-hover-width) !important;
}

#sidebar-box:hover {
  transition: all 200ms !important;
  max-width: var(--sidebar-visible-width) !important;
}